<!-- файл с разметкой веб-страницы страницы "Каталог"-"Фильтры" -->

{% extends "base.html" %}
{% load static %}

{% load goods_tags %}

{% block modal_cart %}
{% include "includes/cart_button.html" %}
{% endblock modal_cart %}

{% block content %}
<div class="row">
        <!-- Форма фильтров -->
        <div class="dropdown mb-2">
            <button class="btn btn-secondary dropdown-toggle btn-dark" type="button" data-bs-toggle="dropdown"
                aria-expanded="false">
                Фильтры
            </button>
    
            <form action=" {% if request.GET.q %}{% url "catalog:search" %}{% else %}{% url "catalog:index" slug_url %}{% endif %}" method="get" class="dropdown-menu bg-dark" data-bs-theme="dark">
                <p class="text-white mx-3 mt-3">Выбрать страну производитель:</p>
                
                <div class="form-check text-white mx-3">
                    <input class="form-check-input" type="radio" name="country" id="flexRadioDefault1" value="default" style="border-color: blue;"> <!-- Здесь исправление (name="country" и style="border-color: blue;) -->
                    <label class="country" for="flexRadioDefault1">
                        Все страны
                    </label>
                </div>

                {% for country in countries %}
                    <div class="form-check text-white mx-3">
                        <input class="form-check-input" type="radio" name="country" id="country{{ country.id }}" value="{{ country.name }}"
                            <label class="form-check-label" for="country{{ country.id }}" style="border-color: blue;">  <!-- Здесь исправление-->
                            {{ country.name }}
                        </label>
                    </div>
                {% endfor %}

        <!-- Поля для выбора года -->
        <div class="text-white mx-3 mt-3">
            <p>Год производства:</p>
            <div class="row g-2">
                <div class="col">
                    <input type="number" 
                           class="form-control" 
                           placeholder="От" 
                           name="year_min" 
                           value="{{ request.GET.year_min }}"
                           min="1900" 
                           max="{% now 'Y' %}">
                </div>
                <div class="col">
                    <input type="number" 
                           class="form-control" 
                           placeholder="До" 
                           name="year_max" 
                           value="{{ request.GET.year_max }}"
                           min="1900" 
                           max="{% now 'Y' %}">
                </div>
            </div>
        </div>
                <button type="submit" class="btn btn-primary mx-3 mt-3">Применить</button>
            </form>
        </div>



    {% if request.GET.q %}
    <h3 class="mt-4">Результаты поиска по запросу {{ request.GET.q }}</h3>
    {% if not goods %}
        <link rel="stylesheet" href="{% static "deps/css/my_footer_css.css" %}">
        <h2 class="mt-4">По запросу ничего не найдено</h2>
    {% endif %}
    {% endif %}
    

    {% for product in goods %}
        <!-- Карта товара -->
        <div class="col-lg-4 col-md-6 p-4">
            <div class="card border-primary rounded custom-shadow">
                {% if  product.image %}
                    <img src="{{ product.image.url }}" class="card-img-top" alt="product.name">
                {% else %}
                    <img src="{% static "deps/images/Not found image.png" %}" class="card-img-top" alt="...">
                {% endif %}
                <div class="card-body">
                    <a href="{% url "catalog:product" product.slug %}">
                        <p class="card-title">{{ product.name }}</p>
                    </a>
                    <p class="card-text text">{{ product.description|truncatechars:45  }}</p>
                    <p class="product_county">id: {{ product.display_id }}</p>
                    <p class="product_county">Стана производитель: {{ product.country }}</p>
                    <p class="product_year">Год выпуска: {{ product.year }}</p>
                </div>
            </div>
        </div>
    {% endfor %}

</div>
<!-- Разбивка на страницы (Предыдущая - Следующая) -->
<nav aria-label="Page navigation example">
    <ul class="pagination justify-content-center my-4">
        <div class="custom-shadow d-flex">
            <li class="page-item {% if not goods.has_previous %}disabled{% endif %}">
              <a class="page-link" href="{% if  goods.has_previous %}?{% change_paramas page=goods.previous_page_number %}{% else %}
              #
              {% endif %}">Предыдущая</a>
            </li>
            {% for page in goods.paginator.page_range %}
            {% if page >= goods.number|add:-2 and page <= goods.number|add:2 %}
                <li class="page-item" {% if goods.number == page %} active {% endif %}>
                    <a class="page-link" href="?{% change_paramas page=page %}">{{ page }}</a>
                </li>
            {% endif %}

            {% endfor %}

            <li class="page-item {% if not goods.has_next %}disabled{% endif %} ">
                <a class="page-link" href="{% if  goods.has_next %}?{% change_paramas page=goods.next_page_number %}{% else %}
                #
                {% endif %}">Следующая</a>
            </li>
        </div>
    </ul>
</nav>
{% endblock  %}