{% extends "base.html" %}
{% load static %}


{% block modal_cart %}
{% include "includes/cart_button.html" %}
{% endblock modal_cart %}


{% block content %}
<div class="container mt-5">
    <div class="card mb-4 custom-shadow">
        <div class="row">
            <!-- Миниатюры -->
            <div class="col-md-4">
                <img src="{{ product.image.url }}"
                    class="img-thumbnail" data-bs-toggle="modal" data-bs-target="#imageModal1">
            </div>
            <div class="col-md-4 ">
                <p class="product_id mt-3">id: {{ product.display_id }}</p>
                <p class="product_county">Стана производитель: {{ product.country }}</p>
                <p class="product_year">Год выпуска: {{ product.year }}</p>
            </div>
            <!-- Увеличить изображение в модальном окне -->
            <div class="modal fade" id="imageModal1" tabindex="-1"
                aria-labelledby="imageModal1Label" aria-hidden="true">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="imageModal1Label">{{ product.name }}</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal"
                                aria-label="Закрыть"></button>
                        </div>
                        <div class="modal-body">
                            <img src="{{ product.image.url }}"
                                class="img-fluid" alt="Изображение 1">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Описание товара -->
        <div class="card-body">
{% comment %}
                <p class="card-text">Цена: <strong>{{ product.sell_price }} $</strong></p>
    
{% endcomment %}            <h5 class="card-title">{{ product.name }}</h5>
            <p class="card-text">{{ product.description }}</p>
{% comment %}
                <h3>Доступные сервисы:</h3>
                {% for service in services %}
                <li>
                    {{ service.name }} 
                    ({{ service.duration }} часов, 
                    {{ service.price }} руб.)
                </li>
                {% empty %}
                    <li>Для этого станка пока нет доступных сервисов</li>
                {% endfor %}
{% endcomment %}



{% comment %}
    <form method="post" action="">
        {% csrf_token %}
        
        <div class="mb-4">
            <label class="form-label">Выберите услуги:</label>
            <select 
                name="services" 
                class="form-select" 
                size="4"
                aria-label="Выбор услуг"
            >
                {% for service in services %}
                <option value="{{ service.id }}">
                    {{ service.name }} ({{ service.duration }} час.)
                </option>
                {% endfor %}
            </select>
    
                <div class="form-text">Для выбора нескольких удерживайте Ctrl</div>
        
       </div>
    
        <button type="submit" class="btn btn-primary">
            <i class="bi bi-cart-plus"></i> Добавить в корзину
        </button>
    </form>
    
{% endcomment %}

<div class="mb-4">
    <label class="form-label">Выберите услугу:</label>
    <div class="list-group">
        {% for service in services %}
        <a href="{% url 'cart:cart_add' %}" 
           class="list-group-item list-group-item-action d-flex justify-content-between align-items-center add-to-cart" data-service-id="{{ service.id }}">
            {% csrf_token %}
            {{ service.name }}
            <span class="badge bg-primary rounded-pill">
                {{ service.duration }} час.
            </span>
        </a>
        {% endfor %}
    </div>
</div>

                {% comment %} <a href="{% url "cart:cart_add" product.id %}" class="btn btn-dark add-to-cart">Добавить в корзину</a> {% endcomment %}
    
       </div>
    </div>
</div>
{% endblock%}