{% extends 'base.html' %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static "deps/css/my_footer_css.css" %}">
{% endblock  %}

{% block content %}
  <h2>Письмо для сброса пароля отправлено</h2>
  <p>
    Если указанный вами email зарегистрирован в системе, вы получите письмо с инструкциями по сбросу пароля.
  </p>
  <p>
    Проверьте вашу почту и следуйте дальнейшим инструкциям.
  </p>
  <p>
    <a class="nav-link text-blue" href="{% url 'user:login' %}" style="color: blue; text-decoration: underline;">
      Вернуться к входу
    </a>
  </p>
{% endblock %}